*.user
*.suo
bin
obj
packages
compile.bat
*.sln.cache
*.bak
*.resources
*~
*.userprefs
.vs
.idea
libremetaverse/
sparkle/
Radegast/Generated/
RadegastVeles/Generated/
RadegastVeles/Generated.cs
ProductInstallFiles.wxs
.DS_Store
Install/VelesBundle/windowsdesktop-runtime-8.0-win-x64.exe
Install/VelesBundle/windowsdesktop-runtime-10.0-win-x64.exe
