[Desktop Entry]
Name=Radegast Veles
Comment=Second Life viewer
Exec=RadegastVeles
Icon=life.radegast.RadegastVeles
Type=Application
Categories=Network;
StartupNotify=true
