name: CI

on:
  push:
    branches: [ master, localbuilding ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build (${{ matrix.platform }})
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [ x64, x86, ARM64 ]
        configuration: [ ReleaseWindows ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0
          persist-credentials: true

      - name: Setup DotNet
        uses: actions/setup-dotnet@v3

      - name: Setup MSBuild
        shell: pwsh
        run: |
          $msbuildPath = & "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe" -latest -requires Microsoft.Component.MSBuild -find MSBuild\**\Bin\MSBuild.exe | Select-Object -First 1
          $msbuildDir = Split-Path $msbuildPath -Parent
          echo "$msbuildDir" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          Write-Host "Added MSBuild to PATH: $msbuildDir"

      - name: Set TAG_VERSION
        shell: pwsh
        run: |
          if ("${{ github.ref_type }}" -eq "tag") {
            $tag = '${{ github.ref_name }}'
            $tagVersion = $tag -replace 'v',''
            $tagVersion = "$tagVersion.${{ github.run_number }}"
          } else {
            $tagVersion = "v3.0.${{ github.run_number }}"
            $tagVersion = $tagVersion -replace 'v',''
          }
          Write-Host "Setting TAG_VERSION to $tagVersion"
          echo "TAG_VERSION=$tagVersion" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Restore NuGet packages
        run: nuget restore radegast.sln

      - name: Restore for platform-specific build
        run: msbuild radegast.sln /t:Restore /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}

      - name: Build solution
        run: msbuild radegast.sln /m /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Radegast-${{ matrix.platform }}-${{ env.TAG_VERSION }}
          path: |
            bin\Release\**
            bin\**\Release\**
